<nb-card>
  <nb-card-header class="row">
    <div class="col-sm-6">
      Technologies
      <button [hidden]="!this.isEditable()" (click)="addTechnology()"
              ghost class="add-tech" nbButton
              status="success" shape="round" size="small" nbTooltip="Create technology">
        <nb-icon icon="plus-circle-outline"></nb-icon>
      </button>
    </div>
    <div class="col-12 col-sm-6">
      <input type="text" [formControl]="queryField" nbInput fieldSize="small" shape="round" placeholder="Search...">
    </div>
  </nb-card-header>
  <nb-list>
    <nb-list-item (click)="pick(tech.id)" *ngFor="let tech of forRender">{{tech.name}}: {{tech.description}}</nb-list-item>
  </nb-list>
</nb-card>
